<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POIT'2019</title>
    <style type="text/css">           
    </style>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/plotly-latest.min.js"></script>

  <script>
   $(document).ready(function(){
    var layout = {
          title: 'Output variable',
          xaxis: {
            title: 'time',
            range: [0,60]
          },
          yaxis: {
            title: 'ys(t)',
            range: [0,1]
          }
        };

    
    $.ajax({
      type: "POST",
      url: "/dbdata/4",
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xl = [];
        yl = [];

        for (var i=0; i< n; i++){
          xl.push(data[i].x);
          yl.push(data[i].y); }
        let trace = [{
            x: xl,
            y: yl }];   
        Plotly.newPlot($('#plotdiv')[0], trace,layout);         
      }
    }).done(function( o ) {
       // do something
    });    
   });   

  </script>
</head>
<body>
 
    <div id="plotdiv" style="width:600px;height:250px;"></div>
      
</body>
</html> 
